* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding: 1rem 0;
  flex: 1;
}

footer {
  padding: 3px;
}

footer p {
  margin: 0;
}

.form-group,
.errors-list {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}